<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-8">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>

        </div>
    </div>
</div>
