<div class="container">
    <h1>Products</h1>
    <div class="row">
     <a class="nav-link" href="{% url 'cart' %}">Agro</a>
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <h6 class="card-subtitle mb-2 text-muted">${{ product.price }}</h6>
              <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}

                <button type="submit" class="btn btn-primary">Add to Cart</button>
              </form>
                  <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary">View Product</a>
        </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No products found.</p>
      {% endfor %}
    </div>
  </div>