{% load static %}

<div>Name-{{ans}}</div>
<div>Description-{{ans1}}</div>



{% if ans == 'kidneybeans' %}
  <img src="{% static 'kidneybeans.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'rice' %}
  <img src="{% static 'rice.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'chickpea' %}
  <img src="{% static 'chickpea.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'pigeonpeas' %}
  <img src="{% static 'pigeonpeas.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'mothbeans' %}
  <img src="{% static 'mothbeans.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'mungbean' %}
  <img src="{% static 'mungbean.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'blackgram' %}
  <img src="{% static 'blackgram.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'lentil' %}
  <img src="{% static 'lentil.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'pomegranate' %}
  <img src="{% static 'pomegranate.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'banana' %}
  <img src="{% static 'banana.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'mango' %}
  <img src="{% static 'mango.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'grapes' %}
  <img src="{% static 'grapes.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'watermelon' %}
  <img src="{% static 'watermelon.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'muskmelon' %}
  <img src="{% static 'muskmelon.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'apple' %}
  <img src="{% static 'apple.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'orange' %}
  <img src="{% static 'orange.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'papaya' %}
  <img src="{% static 'papaya.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'coconut' %}
  <img src="{% static 'coconut.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'cotton' %}
  <img src="{% static 'cotton.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'jute' %}
  <img src="{% static 'jute.jpg' %}" class="Brand" alt="">
{%  endif %}
{% if ans == 'coffee' %}
  <img src="{% static 'coffee.jpg' %}" class="Brand" alt="">
{%  endif %}




